#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

  header {
    background-color: #709775;
    padding: 1.2rem;
  }

   /* Navbar styles */
   .navbar-brand,
   .navbar-nav .nav-link {
     color: #e020a3;
     font-family: "Aladin", sans-serif;
     font-size: 1.0rem;
     letter-spacing: 2px;
     text-shadow: 5px 5px 10px #1a2f57;
   }
 
   .navbar-nav .nav-link:hover {
     font-size: 1.5rem;
     letter-spacing: 2px;
     color: #1a2f57;
     text-shadow: 5px 5px 10px #1a2f57;
   }
 
   .navbar-brand {
     margin-left: 10px;
     letter-spacing: 7px;
     font-size: 1.6rem;
     text-shadow: 5px 5px 10px #454f61;
   }
 
   .navbar-brand:hover {
     text-decoration: none;
     color: #fff;
     text-shadow: 5px 5px 10px #1a2f57;
   }
 
   .navbar-logo {
     padding-top: 3px;
     padding-bottom: 3px;
   }
 
   .navbar {
     background-color: #F5DFBB !important;
   }
 
   .navbar-toggler {
     border: 3px solid #521212;
     margin-top: 0rem;
     margin-right: 0rem;
   }
 
   nav {
     margin-top: 1rem;
   }

   section {

    width: 100%;
   }
 